@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Gugi');

body {
  font-family: 'Open Sans', sans-serif;
}

.hero.is-dark.is-fullheight {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.88)
  ), url('../images/white.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  background-color: #ffffff08;
}

.versus {
  font-family: 'Quicksand', sans-serif;
  font-size: 4rem;
  color: rgba(147, 147, 147, 0.62) !important;
}

.player-added {
  box-shadow: 0 2px 3px rgba(15, 243, 43, 0.5), 0 0 0 1px rgb(25, 193, 86);
  input[type=text] {
    border-color: #dbdbdb !important;
    box-shadow: none !important;
  }
}

.animated-delay-short {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated-delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


.thrown-image {
  width: 150px;
}

.avatar {
  width: 150px;
  height: auto;
}

.bottom-space {
  margin-bottom: 2rem;
}

.shadow-animate  {
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  -webkit-transition: box-shadow .25s;
  &:hover {
    -webkit-transition: box-shadow .25s;
    -webkit-box-shadow: 0px 79px 77px -20px rgba(199, 199, 199, 1);
    -moz-box-shadow: 0px 79px 77px -20px rgba(199, 199, 199, 1);
    box-shadow: 0px 79px 77px -20px rgba(199, 199, 199, 1);
  }
}

.chant {
  font-weight: 400;
  font-style: italic;
  font-size: 1.4rem;
}

.card-name {
  font-family: 'Gugi', cursive;
}
