/* Utilities */

$margin-amount: 15px;

.u {
  &-margin {
    &--top {
      margin-top: $margin-amount;
    }
    &--bottom {
      margin-bottom: $margin-amount;
    }
    &--left {
      margin-left: $margin-amount;
    }
    &--right {
      margin-right: $margin-amount;
    }
  }

  &-text-center {
    text-align: center;
  }

}

.loader {
  text-align: center;
  width: 100%;
  i {
    font-size: 30px;
  }
}
